/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  min-height: 100%;
}
.red {
  background-color: #e63946;
}

.green {
  background-color: #2a9d8f;
}

.blue {
  background-color: #457b9d;
}

.yellow {
  background-color: #f4a261;
}

